version: '3.3'

services:
  core:
    build: backend
    volumes:
      - static_volume:/app/static/
      - media_volume:/app/media/
    entrypoint: ["sh", "entrypoint.sh"]
    ports:
      - "8000"
    env_file:
      - .env

  frontend:
    build: frontend
    volumes:
      - frontend-build_volume:/app/build
    command: npm run build --prod

  nginx:
    build: ./nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - static_volume:/app/static
      - media_volume:/app/media
      - frontend-build_volume:/usr/share/nginx/html
    depends_on:
      - core

  celery:
    build: core
    depends_on:
      - core
      - rabbitmq
    command: celery -A config worker --concurrency=4 --loglevel=info  -P gevent
    env_file:
      - .env
    environment:
      - POSTGRES_HOST=postgres_db
      - REDIS_HOST=redis
      - RABBITMQ_HOST=rabbitmq
    restart: always

  rabbitmq:
    image: rabbitmq:3-management-alpine
    ports:
      - "5672"
    restart: always

volumes:
  postgres_data:
  static_volume:
  media_volume:
  frontend-build_volume:
