@font-face {
  font-family: "RussianRail G Pro";
  src: local("RussianRail_G_Pro"), url("./assets/fonts/RussianRail_G_Pro.woff2") format("woff2"), url("./assets/fonts/RussianRail_G_Pro.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans Hebrew";
  src: local("IBM_Plex_Sans_Hebrew"), url("./assets/fonts/IBM_Plex_Sans_Hebrew.woff2") format("woff2"), url("./assets/fonts/IBM_Plex_Sans_Hebrew.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Segoe UI";
  src: local("Segoe_UI"), url("./assets/fonts/Segoe_UI.woff2") format("woff2"), url("./assets/fonts/Segoe_UI.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --video-success:              #00c229;
  --primary-color:              #DA4216;
  --button-hover:               #EE5D21;
  --entry-color:                #2C2C2C;
  --panel-text:                 #474747;
  --referance-color:            #565658;
  --secondary-panel-background: #e9e9e9;
  --header-background:          #f6f6f6e6;
  --primary-panel-background:   #f4f4f4;
  --primary-background:         #ffffff;

  --zindex-dropdown:              1000;
  --zindex-sticky:                1020;
  --zindex-fixed:                 1030;
  --zindex-modal-backdrop:        1040;
  --zindex-modal:                 1050;
  --zindex-popover:               1060;
  --zindex-tooltip:               1070;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button, input {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  outline: none;
}
