input[type="file"] {
  display: none;
}

.button {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px;
  border-radius: 20px;
  width: 240px;
  height: 70px;
  background-color: var(--primary-color);
  transform: translate(-50%, -50%);
  transition: background-color .3s ease;
  cursor: pointer;
}

.desc {
  font-family: "Segoe UI", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: var(--primary-background);
}

.button:hover {
  background-color: var(--button-hover);
}
